.collection-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.collection-item__right {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.collection-item__likes {
  margin-right: 7px;
  margin-top: 3px;
}

.material-icons {
  cursor: pointer;
}
