.collection-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.collection-item__right {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.collection-item__likes {
  margin-right: 7px;
  margin-top: 3px;
}

.material-icons {
  cursor: pointer;
}

.nav-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
}

.error {
  margin-top: 1rem;
  padding: 1rem;
  color: white;
  background-color: rgb(184, 61, 61);
}
